.circulo {
    /* Establece el ancho del elemento en 100 píxeles. */
    width: 100px;
    
    /* Establece la altura del elemento en 100 píxeles. */
    height: 100px;
    
    /* Hace que el elemento tenga bordes redondeados, convirtiéndolo en un círculo. */
    border-radius: 50%;
    
    /* margen de 10 píxeles alrededor del elemento para separarlo de otros elementos. */
    margin: 10px;
    
    /* Hace que los elementos con esta clase se muestren en línea, uno al lado del otro. */
    display: inline-block;
}